# Çalışma Ortamı (test | production | mock)
# Canlı GİB sistemi için "production" yapılmalıdır.
GIB_ENV=production

# GİB e-Arşiv Portal Giriş Bilgileriniz
# Şahıs iseniz 11 haneli TCKN, şirket iseniz 10 haneli VKN yazılmalıdır.
GIB_USERNAME=11111111111

# GİB e-Arşiv Portal Şifreniz
GIB_PASSWORD=SifrenizBuraya
